.card{
    margin: 150px 450px;
    min-width: 800px;
    min-height: 400px;
}

.container{
    margin-top: 50px;
}

.page{
    /* background-image: url('./../../assets/images/hanging line1.jpg'); */
}