<mat-card class="example-card">
    <div class="dashboard-container">
        <h1 class="dashboard-text">Hello,
            <span class="span-dashboard-text">
                How can we help you?
            </span>
        </h1>
    </div>

    <div class="row rCards">
        <div class="card shadow cards" style="width: 18rem;" (click)="goCat()">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Catalogue</h5>
                <p class="card-text">Browse through our catalogue.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="card shadow" style="width: 18rem;" (click)="goOrder()">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Order</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>

</mat-card>